{% extends "base.html" %}

{% block title %}
    Penjelasan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}

<!--    <h2>Virus-Virus penyakit</h2>-->
<!--    <p>-->
<!--        Selain adanya hama yang dapat merusak tanaman pertanian, perlu diperhatikan juga virus-virus penyakit yang-->
<!--        dapat mengakibatkan rusaknya tanaman. Virus-virus yang akan dijelaskan berikut menggunakan hama yang telah-->
<!--        dijelaskan di atas sebagai perantaranya.-->
<!--    </p>-->
<!--        Virus kuning dan virus mozaik berikut menyerang banyak tanaman, beberapa diantaranya adalah tanaman tomat, kentang,-->
<!--        cabai merah, cabai rawit, dan melon. Virus kuning dan virus mosaik dapat ditularkan melalui hama perantara, benih-->
<!--        yang ditanam, alat pertanian, dan lain-lain. Hama yang menjadi perantara kedua virus ini yaitu kutu daun (<i>M.-->
<!--        persicae</i> dan <i>A. gossypii</i>), thrips dan kutu kebul.-->
<!--        <ol>-->
<!--            <li>Virus mosaik</li>-->
<!--            <p>-->
<!--                Tanaman tomat dan kentang yang terinfeksi virus mosaik memiliki warna daun yang pucat atau kekuning- -->
<!--                kuningan yang tersebar seperti percikan. Pada tanaman kentang, gejala terinfeksi disertai dengan permukaan-->
<!--                daun yang bergelombang serta umbi yang berukuran kecil.-->
<!--                <br><br>-->
<!--                Pengendalian virus mosaik dapat dilakukan dengan cara berikut:-->
<!--                <ul>-->
<!--                <li>Kultur teknis</li>-->
<!--                <p>-->
<!--                    dengan melakukan 1) sanitasi lahan; 2) menggunakan benih yang sehat; 3) rotasi tanaman-->
<!--                </p>-->

<!--                <li>Mekanis atau fisik</li>-->
<!--                <p>-->
<!--                    dengan 1) mencabut dan memusnahkan tanaman terserang; 2) menggunakan mulsa perak atau jerami-->
<!--                    pada tanaman tomat-->
<!--                </p>-->

<!--                <li>Biologi</li>-->
<!--                <p>-->
<!--                    dengan melakukan imunisasi menggunakan virus CMV yang dilemahkan-->
<!--                </p>-->

<!--                <li>Kimia</li>-->
<!--                <p>-->
<!--                    dengan menggunakan insektisida sebagai pengendali hama perantara virus-->
<!--                </p>-->
<!--                </ul>-->
<!--            </p>-->
<!--            <li>Virus Kuning</li>-->
<!--            <p>-->
<!--                Virus kuning atau virus gemini dapat menginfeksi banyak tanaman, beberapa diantaranya yaitu tanaman cabai-->
<!--                merah, cabai rawit, dan melon. Tanaman cabai merah dan cabai rawit yang terinfeksi virus kuning memiliki-->
<!--                daun dengan <i>vein clearing</i> dimulai dari pucuknya yang kemudian berkembang menjadi warna kuning jelas.-->
<!--                Selain itu terdapat penebalan pada tulang daunnya dan daun menggulung ke atas. Dalam beberapa kasus ditemukan-->
<!--                juga daun yang mengecil, tanaman yang kerdil, hingga tanaman yang tidak berbuah.-->
<!--                <br><br>-->
<!--                Sedangkan tanaman melon yang terinfeksi virus kuning, pada daun muda atau pucuknya terdapat-->
<!--                corak mozaik kuning atau hijau muda mencolok, daun tampak keriting, diikuti belaian daun menyempit-->
<!--                atau cekung, tanaman tumbuh tidak normal, kerdil. Pada tanaman melon yang terinfeksi sejak pesemaian,-->
<!--                pertumbuhannya terganggu (seluruh bagian tanaman menguning) dan tidak akan berbuah.-->
<!--                <br><br>-->
<!--                Pengendalian virus kuning dapat dilakukan dengan cara berikut:-->
<!--                <ol>-->
<!--                <li>Kultur teknis</li>-->
<!--                <p>-->
<!--                    Untuk kedua tanaman cabai dan melon dapat dilakukan 1) sanitasi lahan; 2) menggunakan mulsa (mulsa-->
<!--                    perak bagi tanaman melon). Kemudian untuk tanaman cabai pengendalian virus dapat dilakukan juga dengan-->
<!--                    melakukan 1) pemupukan berimbang; 2) disinfeksi benih; 3) menggunakan varietas lahan yang beragam;-->
<!--                    4) menggunakan tanaman perangkap seperti jagung atau tagetes; 5) rotasi tanaman-->
<!--                </p>-->

<!--                <li>Mekanis atau fisik</li>-->
<!--                <p>-->
<!--                    dengan 1) mencabut dan memusnahkan tanaman terserang; 2) menggunakan perangkap kuning (<i>flytrap</i>)-->
<!--                    pada tanaman melon-->
<!--                </p>-->

<!--                <li>Biologi</li>-->
<!--                <p>-->
<!--                    dengan mengendalikan hama perantara virus-->
<!--                </p>-->

<!--                <li>Kimia</li>-->
<!--                <p>-->
<!--                    dengan mengendalikan hama perantara virus-->
<!--                </p>-->
<!--                </ol>-->
<!--            </p>-->
<!--        </ol>-->
<!--    </p>-->

    <br>
    <h3>Referensi:</h3>
    <ol>
        <li>Setiawati, W., Sulastrini, I., & Gunaeni, N. (2001). Penerapan teknologi PHT pada tanaman tomat. Bandung: Balai Penelitian Tanaman Sayuran</li>
        <li>Kutu Kebul, diakses melalui <a href="http://ditlin.hortikultura.pertanian.go.id/index.php/page/index/opt-sayur-tomat-kutu-kebul/sayur/Tomat">http://ditlin.hortikultura.pertanian.go.id/index.php/page/index/opt-sayur-tomat-kutu-kebul/sayur/Tomat</a></li>
        <li>Virus Mosaik, diakses melalui  <a href="http://ditlin.hortikultura.pertanian.go.id/index.php/page/index/opt-sayur-tomat-virus-mosaik/Sayur/Tomat">http://ditlin.hortikultura.pertanian.go.id/index.php/page/index/opt-sayur-tomat-virus-mosaik/Sayur/Tomat</a></li>
        <li>Diwa, A T., Dianawati, M., dan Sinaga, A. 2015. Petunjuk Teknis Budidaya Kentang. Balai Pengkajian Teknologi Pertanian Jawa Barat, diakses melalui <a href="http://repository.pertanian.go.id/bitstream/handle/123456789/6496/Juknis_Bdy_Kentang.pdf?sequence=1&isAllowed=y">http://repository.pertanian.go.id/bitstream/handle/123456789/6496/Juknis_Bdy_Kentang.pdf?sequence=1&isAllowed=y</a></li>
        <li>Meilin, Araz. 2014. Hama Penyakit pada Tanaman Cabai serta Pengendaliannya. Balai Pengkajian Teknologi Pertanian Jambi. Diakses melalui <a href="http://jambi.litbang.pertanian.go.id/ind/images/PDF/14bookcabe.pdf">http://jambi.litbang.pertanian.go.id/ind/images/PDF/14bookcabe.pdf</a></li>
        <li>Gunaeni, N., Setiawati, W., Murtiningsih, R., & Rubiati, T. (2008). Penyakit Virus Kuning dan Vektornya Serta Cara Pengendaliannya pada Tanaman Sayuran. BALITSA, diakses melalui <a href="http://repository.pertanian.go.id/bitstream/handle/123456789/9300/Penyakit%20Virus%20Kuning%20dan%20Vektornya%20Serta%20Cara%20Pengendaliannya%20pada%20Tanaman%20Sayuran.pdf?sequence=2&isAllowed=y">http://repository.pertanian.go.id/bitstream/handle/123456789/9300/Penyakit%20Virus%20Kuning%20dan%20Vektornya%20Serta%20Cara%20Pengendaliannya%20pada%20Tanaman%20Sayuran.pdf?sequence=2&isAllowed=y</a></li>
        <li>Piay, S S., et al.2010 .Budidaya dan Pasca Panen Cabai Merah (Capsicum annuum L.). Balai Pengkajian Teknologi Pertanian Jawa Tengah. Diakses melalui <a href="http://repository.pertanian.go.id/bitstream/handle/123456789/9109/budidaya%26pascapanencabaimerah.pdf?sequence=1&isAllowed=y">http://repository.pertanian.go.id/bitstream/handle/123456789/9109/budidaya%26pascapanencabaimerah.pdf?sequence=1&isAllowed=y</a></li>
        <li>Saptayani, N., et al. 2015. Buku Pedoman Pengelolaan Organisme Pengganggu Tumbuhan secara Ramah Lingkungan pada Tanaman Melon. Direktorat Perlindungan Hortikultura, Kementerian Pertanian Republik Indonesia. Diakses melalui <a href="http://ditlin.hortikultura.pertanian.go.id/assets/cp/901111-12_19012020_1579444940_Pedoman_Pengenalan_dan_Pengendalian_OPT_Pada_Tanaman_Melon.pdf">http://ditlin.hortikultura.pertanian.go.id/assets/cp/901111-12_19012020_1579444940_Pedoman_Pengenalan_dan_Pengendalian_OPT_Pada_Tanaman_Melon.pdf</a></li>
        <li>Endarto, O dan Martini, E. 2016. Pedoman Budi Daya Jeruk Sehat. Balai Penelitian Tanaman Jeruk dan Buah Subtropika, diakses melalui <a href="http://www.worldagroforestry.org/downloads/Publications/PDFS/BL16186.pdf">http://www.worldagroforestry.org/downloads/Publications/PDFS/BL16186.pdf</a></li>
        <li>Mengendalikan Gejala Serangan Thrips pada Jeruk. Diakses melalui <a href="https://www.litbang.pertanian.go.id/info-teknologi/1764/">https://www.litbang.pertanian.go.id/info-teknologi/1764/</a></li>
        <li>Susetyo, H. -. Organisme Pengganggu Tanaman (OPT) pada Tanaman Paprika dan Teknik Pengendalian. Direktorat Perlindungan Hortikultura. Diakses melalui <a href="http://hortikultura.pertanian.go.id/wp-content/uploads/2017/03/OPT-pada-Tanaman-Paprika-dan-Teknik-Pengendalian.pdf">http://hortikultura.pertanian.go.id/wp-content/uploads/2017/03/OPT-pada-Tanaman-Paprika-dan-Teknik-Pengendalian.pdf</a></li>
        <li>Moekasan, et al. 2011. Pengendalian Hama Terpadu pada Budidaya Paprika. Jakarta: Pusat Penelitian dan Pengembangan Hortikultura, Kementerian Pertanian RI, diakses melalui <a href="https://sidolitkaji.litbang.pertanian.go.id/i/files/PHT_paprika.pdf">https://sidolitkaji.litbang.pertanian.go.id/i/files/PHT_paprika.pdf</a></li>
        <li>Rachmat, M., et al. 2006. Standar Prosedur Operasional (SPO) Paprika di Greenhouse. Direktorat Budidaya Tanaman Sayuran dan Biofarmaka, diakses melalui <a href="https://distan.jogjaprov.go.id/wp-content/download/teknologi/spo%20paprika.pdf">https://distan.jogjaprov.go.id/wp-content/download/teknologi/spo%20paprika.pdf</a></li>
        <li>Syahfari, H. (2013). Identifikasi hama lalat buah (Diptera: Tephritidae) pada berbagai macam buah-buahan. Ziraa'ah Majalah Ilmiah Pertanian, 36(1), 32-39, diakses melalui <a href="https://media.neliti.com/media/publications/223945-identifikasi-hama-lalat-buah-diptera-tep.pdf">https://media.neliti.com/media/publications/223945-identifikasi-hama-lalat-buah-diptera-tep.pdf</a></li>
        <li>Wibowo, A. 2020. Teknik Pengendalian Hama Lalat Buah Pada Tanaman Cabai. Diakses melalui <a href="http://pertanian.magelangkota.go.id/informasi/teknologi-pertanian/353-teknik-pengendalian-hama-lalat-buah-pada-tanaman-cabai">http://pertanian.magelangkota.go.id/informasi/teknologi-pertanian/353-teknik-pengendalian-hama-lalat-buah-pada-tanaman-cabai</a></li>
        <li>-. 2016.  Mengendalikan Lalat Buah pada Jeruk. Diakses melalui <a href="https://www.litbang.pertanian.go.id/info-teknologi/2494/">https://www.litbang.pertanian.go.id/info-teknologi/2494/</a></li>
        <li>Lalat Buah pada Melon (Cucumis melo L.) dan Pengendaliannya , diakses melalui <a href="http://bbp2tp.bptpnews.id/Portal/detailBerita/1477">http://bbp2tp.bptpnews.id/Portal/detailBerita/1477</a></li>
        <br>
        <p>Gambar pada bagian penanganan</p>
        <li>https://maxindonesia.com/kriting-daun-pada-cabai/</li>
        <li>https://kabartani.com/pengendalian-opt-penyebab-burik-kusam-buah-jeruk.html/thrips-scirtothrips-citri-pada-buah-jeruk</li>
        <li>https://maxindonesia.com/cara-ampuh-atasi-busuk-buah-pada-tanaman-cabai/</li>
        <li>https://www.kampustani.com/cara-mengatasi-kutu-kebul-pada-tanaman-terong/</li>
        <li>https://www.kampustani.com/pengendalian-lalat-pengorok-daun-pada-tanaman-kentang/</li>
    </ol>
</div>





{% endblock %}