{% extends "base.html" %}

{% block title %}
    Penanganan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}


<div class="col-md-11 p-xs mx-auto my-3 text-center">
  <div class="container-fluid container">
    <h1>Penanganan Hama</h1>
    <br><br>
    <div class="position-relative overflow-hidden text-justify">

        <center>
            <h4><i>Leaf miner</i></h4>
            <img src="static/images/resource/leafminer_tomat1.jpg" height="180px">
            <img src="static/images/resource/leafminer_tomat2.jpg" height="180px">
            <img src="static/images/resource/leafminer_kentang.jpg" height="180px"><br><br>
            <img src="static/images/resource/leafminer_melon.png" height="180px">
            <img src="static/images/resource/leafminer_paprika.jpg" height="180px"><br>
            <h6><i>Leaf miner</i> pada tomat (atas), kentang (tengah), melon (kiri bawah), dan paprika (kanan bawah)</h6>
            <br>
        </center>
    <p>
        Pengendalian terhadap <i>Leaf miner</i> pada umumnya dapat dilakukan dengan beberapa cara, yaitu:
        <ul>
        <li>Kultur teknis</li>
        <p>
            Teknik kultur teknis pada tanaman ini dapat dilakukan dengan:
            <ol>
            <li>Sanitasi lahan, </li><p></p>
            <li>Pemupukan berimbang, </li><p></p>
            <li>Irigasi cukup, </li><p></p>
            <li>Pembumbunan</li>
            <p>
            Pembumbunan merupakan usaha mencangkul sedikit atau mencangkul ringan tanah yang berada disela jarak tanam
            tanaman budidaya kemudian digundukkan dipangkal batang tanaman.<br>
<!--            (https://media.neliti.com/media/publications/129306-ID-none.pdf)-->
            </p>
            Penyiangan dan pembumbunan dilakukan pada saat tanaman berumur 28 hari setelah tanam (HST) bersamaan dengan
            penggemburan dan pemupukan susulan diikuti pengguludan tanaman. Penyiangan dan pembumbunan selanjutnya
            dilakukan pada saat tanaman berumur 40–45 HST.<br><br>
<!--            (http://cybex.pertanian.go.id/mobile/artikel/86394/Teknis-Budidaya-Tanaman-Tomat/) -->

            <li>Tanaman perangkap, </li><p></p>
            <li>Mulsa perak, </li><p></p>
            </ol>
        Dapat dilakukan juga rotasi tanaman dan penggunaan mulsa perak pada tanaman melon

        </p>

        <li>Mekanis atau fisik</li>
        <p>
            Penanganan secara mekanis pada tanaman ini dapat dilakukan dengan:
            <ol>
            <li>Memasang perangkap kuning (<i>fly trap</i>), </li>
            <li>Memotong dan memusnahkan bagian daun terserang pada tanaman tomat dan kentang</li>
            </ol>
        </p>

        <li>Biologi</li>
        <p>
            Secara biologi pada tanaman ini dapat dilakukan penggunaan parasitoid,
            <br>
            pada tanaman tomat:
            <ol>
            <li>Chrysocharis sp., </li>
            <li>Closterocerus sp., </li>
            <li>Cirrospilua ambigus, </li>
            <li>Neochrysocharis formosa, </li>
            <li>Phigalia sp., </li>
            <li>Quadrastichus sp., </li>
            <li>Zagrammosoma sp.</li>
            </ol>

            <br>
            pada tanaman tomat dan kentang seperti:
            <ol>
            <li>Asecodes sp., </li>
            <li>Hemiptarsenus varicornis Girault, </li>
            <li>Gronotoma sp., </li>
            <li>Opius sp.</li>
            </ol>
            dan parasitoid Hemiptarsenus longicornis pada tanaman melon. <br><br>
            Selain itu dapat digunakan predator seperti Coenosia humilis yang umumnya diketahui sebagai lalat predator (pada tanaman tomat dan
            kentang), H. varicornis (pada tanaman tomat), dan laba-laba (pada tanaman melon)<br>
            <center><img src="static/images/resource/labalaba.png" height="360"></center>
<!--            https://dkpp.probolinggokab.go.id/wp-content/uploads/2019/12/laba-laba.pdf-->
        </p>

        <li>Kimia</li>
        <p>
            Pada tanaman tomat menggunakan insektsida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Siromazin"><li>Siromazin 75 %</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Abamektin"><li>Abamectin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Klorfluazuron"><li>Klorfluazuron</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Dimetoat"><li>Dimetoat</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Profenofos"><li>Profenofos</li></a>
            </ul>
        <p>
        <p>
            Pada tanaman kentang menggunakan insektsida, bahan aktif:
            <ul>
            <li>Siromazin 75 %</li>
            <li>Abamectin</li>
            <li>Klorfluazuron</li>
            <li>Dimetoat</li>
            <li>Profenofos</li>
            </ul>
        </p>
        <p>
            Pada tanaman paprika menggunakan insektisida, bahan aktif:
            <ul>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Siromazin"><li>Siromazin</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=tiametoksam"><li>Tiakmektosam</li></a>
            <a href="http://pestisida.id/simpes_app/rekap_kimia_formula.php?s_keyword=Dimehipo"><li>Dimehipo</li></a>
            </ul>
        </p>
        </ul>
    </p>
    </div>
  </div>
</div>

{% endblock %}