{% extends "base.html" %}

{% block title %}
    Penjelasan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}


<div class="col-md-11 p-xs mx-auto my-3 text-center">
  <div class="container-fluid container">
    <h1>Penjelasan Hama</h1>
    <br><br>
      <div class="position-relative overflow-hidden text-justify">
      <h4><i>Lalat buah</i></h4>
      <center><img src="static/images/resource/lalat1.png" height="240px"> <img src="static/images/resource/lalat2.png" height="240px"></center><br><br>
    <p>
        Lalat buah merupakan hama yang umum ditemui. Pada bagian ini akan dibahas lalat buah yang menghinggapi tanaman
        cabai merah, cabai keriting, jeruk dan melon. Lalat buah ini memiliki ukuran tubuh yang sedikit lebih kecil
        dari lalat rumah, tetapi lebih panjang sekitar 3 mm dengan lebar 2 mm. Lalat ini memiliki sayap yang selalu
        terbuka dengan ciri terdapat pola sayap <i>cross vein.</i> Lalat buah dewasa pada sayapnya memiliki bercak
        hitam, putih, atau kekuningan dengan tubuh yang berwarna hitam kemerahan atau kekuningan.
    </p>
        Lalat buah menyerang banyak buah pada tanaman, berikut merupakan ciri buah yang terserang lalat buah:
        Terdapat lubang kecil bekas tusukan ovipositor, namun tidak tampak jelas. Kemudian, buah yang terserang lalat buah
        warnanya akan berubah dan menjadi layu dan busuk. Ketika buah dibelah terdapat larva lalat. Pada cabai yang terserang
        lalat buah, terdapat titik hitam pada bagian pangkal buah. Warna buah menjadi kuning pucat dan buah akan jatuh ke tanah.
      <br><br>
        <i>Lalat buah</i> juga dapat menjadi perantara virus kuning atau virus gemini dan virus mozaik bagi tanaman
        tomat, kentang, cabai merah, cabai rawit, dan melon.
      </div>
  </div>
</div>

{% endblock %}