{% extends "base.html" %}

{% block title %}
    Penjelasan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}


<div class="col-md-11 p-xs mx-auto my-3 text-center">
  <div class="container-fluid container">
    <h1>Penjelasan Hama</h1>
    <br><br>
      <div class="position-relative overflow-hidden text-justify">
      <h4><i>Whitefly</i></h4>
      <center><img src="static/images/resource/whitefly1.png" height="180px"></center><br><br>
    <p>
        Hama yang satu ini umumnya dikenal dengan nama 'kutu putih' atau 'kutu kebul'. Nama ini didapatkan
        karena warnanya yang terlihat seperti dilapisi oleh tapung atau kebul hingga berwarna putih.
        Hama ini memiliki warna sayap putih untuk yang sudah dewasa, sedangkan untuk yang belum
        dewasa belum memiliki warna sayap atau warna sayap masih transparan. <i>Whitefly</i> umumnya
        berkelompok dan memiliki ukuran 1 mm hingga 1,5 mm untuk panjang dari ujung kepala hingga ujung sayap.
    </p>
    <center><img src="static/images/resource/whitefly2.png" height="180px"></center><br><br>
    <p>
        Terdapat dua jenis <i>whitefly</i> yang memiliki ciri-ciri yang sama, yaitu <i>greenhouse whitefly</i>
        dan <i>sweetpotato whitefly</i>. Kedua <i>whitefly</i> ini dibedakan dari posisi sayap ketika sedang
        tidak digunakan. <i>Greenhouse whitefly</i> memiliki posisi sayap yang cenderung berbentuk segitiga,
        sedangkan <i>sweetpotato whitefly</i> memiliki posisi sayap yang cenderung berbentuk oval seperti
        ditunjukkan pada gambar diatas.
    </p>
        Gejala pada tanaman yang dihinggapi oleh <i>whitefly</i> hingga terinfeksi yaitu adanya bercak nekrotik
        pada daun dan embun madu yang dikeluarkan dapat menimbulkan jamur jelaga hitam. Tanaman yang di hinggapi
        <i>whitefly</i> umumnya tanaman tomat, kentang, cabai merah, dan cabai rawit.
          <br></br>
        Namun, <i>whitefly</i> juga dapat menjadi perantara virus kuning atau virus gemini dan virus mozaik bagi tanaman
        tomat, kentang, cabai merah, cabai rawit, dan melon.
      </div>
  </div>
</div>

{% endblock %}