{% extends "base.html" %}

{% block title %}
    Penjelasan Hama
{% endblock %}

{% block style %}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
{% endblock %}

{% block content %}


<div class="col-md-11 p-xs mx-auto my-3 text-center">
  <div class="container-fluid container">
    <h1>Penjelasan Hama</h1>
    <br><br>
      <div class="position-relative overflow-hidden text-justify">
      <h4><i>Thrips</i></h4>
      <center><img src="static/images/resource/thripps1.png" height="240px"> <img src="static/images/resource/thripps2.png" height="240px"></center><br><br>
    <p>
        <i>Thrips</i> merupakan hama yang berukuran cukup kecil dengan ukuran 1 mm hingga 2 mm untuk
            panjang dari ujung kepala hingga ujung badan. Hama ini ketika masih nimfa memiliki warna coklat kehitaman
            dengan bercak merah dan berwarna kekuningan saat menjadi serangga dewasa. Umumnya serangan dari hama ini
            banyak terjadi pada musim kemarau.
<!--            Namun dalam beberapa kasus ditemukan juga <i>thripps</i> dengan warna hijau muda seperti ditunjukkan pada gambar.-->
    </p>
        Hama <i>thrips</i> menyerang banyak tanaman, beberapa diantaranya adalah tanaman cabai merah, cabai rawit,
        jeruk, melon, dan paprika. Berikut merupakan gejala-gejala yang ditimbulkan:

        <ul>
        <li>Tanaman cabai</li>
            <p>
                Daun pada tanaman cabai memiliki bercak dengan warna keperak-perakkan, kemudian berubah warna menjadi
                coklat tembaga. Lalu daun akan mengeriting atau menjadi keriput dan akhirnya mati.
            </p>
        <li>Tanaman jeruk</li>
            <p>
                Helai daun muda pada tanaman jeruk menebal, kedua sisi daun agak menggulung ke atas, dan pertumbuhannya
                tidak normal. Sedangkan pada buahnya, terdapat bekas luka berwarna coklat keabu-abuan yang disertai
                garis nekrotis di sekeliling luka. Pada permukaan kulit buah, di sekeliling tangkai atau melingkar pada
                sekeliling kulit buah tampak warna coklat tembaga.
            </p>
        <li>Tanaman melon</li>
            <p>
                Daun muda atau tunas pada tanaman melon keriting dan penuh dengan bintik berwarna putih keperakan. Tanamannya
                keriting dan kerdil serta tidak dapat membentuk buah secara normal
            </p>
        <li>Tanaman paprika</li>
            <p>
                Pertumbuhan pada pucuk tunas dan bunga tanaman melon terhambat dan tanaman menjadi kerdil. Pada daun, <i>thrips</i>
                menghisap cairan pada daun-daun muda, sehingga pada permukaan daun terdapat bekas tusukan thrips. Daun
                berwarna keperakan, kemudian berubah menjadi kecoklatan serta keriput atau menggulung. <i>Thrips</i>
                bersembunyi di dalam bunga paprika dan merusak calon buahnya.
            </p>
        </ul>
          <i>Thrips</i> juga dapat menjadi perantara virus kuning atau virus gemini dan virus mozaik bagi tanaman
        tomat, kentang, cabai merah, cabai rawit, dan melon.
      </div>
  </div>
</div>

{% endblock %}